.menu {
    display: flex;
    list-style-type: none;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.menu a {
    color: #444;
    text-decoration: none;
}

.features li{
    list-style-type: circle;
}

